{% extends "layout.html" %}
{% block head %}
    <title>Courses - Thiago Costa </title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">

{% endblock %}

{% block content %}

    <div id="wrapper">
        <h1>Specialization Courses</h1>
    </div>

    <section class="cards">
        <div class="card" id="lFpcZKBUiSY" >
            <div class="card__image-container">
                <img src="img/ibm.png"
                 alt="Vídeo Aula">
                 <div class="card__content">
                     <p>Professional Certificate in Data Science - IBM</p>
                     <br>
                 </div>
                 <div class="card__info">
                     <p>In course(7/9)</p>
                     <p class="card__price">Free</p>
                 </div>
            </div>
        </div>

        <div class="card" id="lFpcZKBUiSY" >
            <div class="card__image-container">
                <img src="img/uMichigan.png"
                 alt="Vídeo Aula">
                 <div class="card__content">
                     <p>Specialization - Applied Data Science with Python - The University of Michigan</p>
                 </div>
                 <div class="card__info">
                    <p>In course(7/9)</p>
                    <p class="card__price">Free</p>
                 </div>
            </div>
        </div>

        <div class="card" id="lFpcZKBUiSY" >
            <div class="card__image-container">
                <img src="img/britishColumbia.png"
                 alt="Vídeo Aula">
                 <div class="card__content">
                     <p>MicroMasters - Software Development - The University of British Columbia</p>
                 </div>
                 <div class="card__info">
                    <p>In course(7/9)</p>
                    <p class="card__price">Free</p>
                 </div>
            </div>
        </div>


    </section>

    <!--   UDEMY COURSES -->


    <div id="wrapper">
        <h1>Extracurricular</h1>
    </div>

    
    <section class="cards">

        <div class="card" id="lFpcZKBUiSY" >
            <div class="card__image-container">
                <img src="img/ita.png"
                 alt="Vídeo Aula">
                 <div class="card__content">
                     <p>Java Oriented Object - Instituto Tecnológico da Aeronáutica</p>
                 </div>
                 <div class="card__info">
                     <p>Complete</p>
                     <p class="card__price">38 hours</p>
                 </div>
            </div>
        </div>

        <div class="card" id="lFpcZKBUiSY" >
            <div class="card__image-container">
                <img src="img/uml.png"
                 alt="Vídeo Aula">
                 <div class="card__content">
                     <p>Data Modeling - UML (Orientect Object Project)</p>
                     <br>
                 </div>
                 <div class="card__info">
                     <p>Complete</p>
                     <p class="card__price">13 hours</p>
                 </div>
            </div>
        </div>

        <div class="card" id="lFpcZKBUiSY" >
            <div class="card__image-container">
                <img src="img/webDev1.png"
                 alt="Vídeo Aula">
                 <div class="card__content">
                     <p>Web Development Course with six project - UDEMY</p>
                     <br>
                 </div>
                 <div class="card__info">
                     <p>Complete</p>
                     <p class="card__price">34 hours</p>
                 </div>
            </div>
        </div>

        <div class="card" id="lFpcZKBUiSY" >
            <div class="card__image-container">
                <img src="img/webDev2.png"
                 alt="Vídeo Aula">
                 <div class="card__content">
                     <p>Web Developer BootCamp - App Brewery</p>
                 </div>
                 <div class="card__info">
                     <p>In Course</p>
                     <p class="card__price">54 hours</p>
                 </div>
            </div>
        </div>

        <div class="card" id="lFpcZKBUiSY" >
            <div class="card__image-container">
                <img src="img/javascript.png"
                 alt="Vídeo Aula">
                 <div class="card__content">
                     <p>Moder Web Development with JavaScript - COD3R</p>
                 </div>
                 <div class="card__info">
                     <p>In Course</p>
                     <p class="card__price">79 hours</p>
                 </div>
            </div>
        </div>

        <div class="card" id="lFpcZKBUiSY" >
            <div class="card__image-container">
                <img src="http://i3.ytimg.com/vi/GykTLqODQuU/maxresdefault.jpg"
                 alt="Vídeo Aula">
                 <div class="card__content">
                     <p>Formulário Animado com JS puro e CSS Animation</p>
                 </div>
                 <div class="card__info">
                     <p>57 min</p>
                     <p class="card__price">Free</p>
                 </div>
            </div>
        </div>

    </section>
    <!-- END OF UDEMY COURSE -->

    <div class="modal-overlay">
        <div class="modal">
            <a class="close-modal">
                <i class="material-icons">close</i>
            </a>
            <div class="modal-content">
            <iframe src="" frameborder="0"></iframe>    
            </div>
        </div>
    </div>

    <script src="scripts.js"></script>
   


    {% endblock %}