<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thiago Costa</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <header>
        <div class="links">
            <a href="index.html">About Me</a>
            <a href="classes.html">My Courses</a>
            <a href="formacao.html">Academic Formation</a>
            <a href="portfolio.html">Portfolio</a>
        </div>
    </header>

    <div id="wrapper">
        <img src="https://avatars3.githubusercontent.com/u/28869405?s=460&v=4" alt="Thiago Costa">
        <h1>Thiago Costa</h1>
        <h2>Full Stack Developer, passionate about Data Science.    </h2>
        <p>Systems analyst, with ongoing MBA in BIG DATA and competitive intelligence. Professional refresher courses in Data Science certified by IBM and Michigan University and Software Developer by The University of British Columbia.</div>

    <div id="links-footer" class="links">
        <a href="https://github.com/thiagohrcosta" target="_blank">Github</a>
        <a href="https://github.com/thiagohrcosta" target="_blank">Linkedin</a>
    </div>
    
</body>
</html>