<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head%}
        <title>Thiago Costa</title>
    {% block head %}



    {% endblock %}

    <!-- CSS -->
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <header>
        <div class="links">
            <a href="/">About Me</a>
            <a href="/courses">My Courses</a>
            <a href="formacao.html">Academic Formation</a>
            <a href="portfolio.html">Portfolio</a>
        </div>
    </header>

    <!-- usando Nunjucks -->

    {% block content %}

    {% endblock %}

   
</body>
</html>